:root{
    --preta:#141414;
}

body{
    background: var(--preta);
}

header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .container .botao{
    color: white;
    margin-left: 5px;
    font-size: 25px;
}